.no-polls-found {
    font-size: 20px;
    text-align: center;
    padding: 20px;  
    background-color: rgb(139, 223, 195);  
}

.load-more-polls {
    text-align: center;
    margin-bottom: 40px; 
    background-color: rgb(139, 223, 195);   
}